<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag 'done', '1', task.completed %>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>
<p><%= link_to "Add a new task", new_task_path %></p>
